<mat-card class="cartCard" *ngIf="order.product | async as product">
  <mat-card-header routerLink="/product/{{product.id}}">
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>${{ product.price }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-label>數量:{{order.count}}</mat-label>
    <br/>
    <mat-label>小計:${{product.price * order.count}}</mat-label>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="removeOrder()">
      <mat-icon>cancel</mat-icon>
      移除項目
    </button>
  </mat-card-actions>
</mat-card>
