<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile colspan="4" rowspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="7">
    <div style="width: 100%; height: 100%;">
      <app-product-section></app-product-section>
    </div>
  </mat-grid-tile>
</mat-grid-list>
