<mat-card class="product">
  <mat-card-title-group routerLink="/product/{{product.id}}">
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>${{ product.price }}</mat-card-subtitle>
    <img mat-card-md-image [src]="product.picture">
  </mat-card-title-group>
  <mat-form-field>
    <mat-label>訂購數量</mat-label>
    <mat-select [(value)]="selectedAmount">
      <mat-option>無</mat-option>
      <mat-option *ngFor="let num of amountArray" [value]="num">
        {{num}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="addToCart()">
      <mat-icon>shopping_cart</mat-icon>
      加到購物車
    </button>
  </mat-card-actions>
</mat-card>
