<mat-card class="product" *ngIf="product$ | async as product">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>${{ product.price }}</mat-card-subtitle>
  </mat-card-header>
    <img mat-card-image [src]="product.picture">
  <mat-card-content>
    <p>
      {{product.about}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" routerLink="/products">返回</button>
  </mat-card-actions>
</mat-card>
