<mat-toolbar class="container">
  <a class="nav-button" mat-stroked-button [routerLink]="['/']">首頁</a>
  <span class="filler"></span>
  <a class="nav-button" mat-stroked-button [routerLink]="['/cart']">
    <mat-icon>shopping_cart</mat-icon>
    購物車 {{orderCount$ |async}}
  </a>
</mat-toolbar>
