<ng-container class="main-container" *ngIf="orderDetail$ | async as orderDetails">
  <app-cart-detail-card *ngFor="let i = index; let orderDetail of orderDetails" [order]=orderDetail></app-cart-detail-card>
</ng-container>
